<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="PAYPAL_CLIENT" value="AR3izrMnMoAwbNWUIP9UAfaOslw5ffMlj3FqHzSvhlMLzNqakqVUDMbtwtLUZCdoyNg_ZxDl1K-QdvPV" />
        <add key="PAYPAL_SECRET" value="EIru3_UwoAGdb_Drii-wRSmqXeOoTqHL3Dn4al67YJ90ox7UbSUQST-kVGiTrO8XM6y_M2E-kHtFtWds" />
    </appSettings>
</configuration>
